@import '@/styles/abstracts';

.badge {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
    display: inline-flex;
    justify-content: center;
    color: $white;
    font-weight: 600;
    font-size: 0.7rem;
    white-space: nowrap;
    text-align: center;
    min-width: 20px;
    height: 20px;
    border-radius: 10px;
    transition: 300ms;
    line-height: 20px;

    &-primary {
        background-color: $primary;
    }
    &-secondary {
        background-color: $secondary;
    }
    &-success {
        background-color: $success;
    }
    &-warning {
        background-color: $warning;
    }
    &-danger {
        background-color: $danger;
    }
    &-dark {
        background-color: $dark;
    }
}
