// BASE
$primary: #C4AA73;
$secondary: #26A69A;

// STATUS
$success: #74C481;
$danger: #C47474;
$warning: #b0ba21;
$info: #74A5C4;

// GREY
$white: #FFF;
$light: #EEEADF;
$muted: #9B978D;
$dark: #232220;
$black: #000;
