// BASE
$primary: #c4aa73;
$secondary: #26a69a;

// STATUS
$success: #66d041;
$danger: #ee4c4c;
$warning: #b0ba21;
$info: #74a5c4;

// GREY
$white: #fff;
$light: #e8e9eb;
$muted: #9b978d;
$dark: #000;
$black: #000;
