@import '@/styles/abstracts';

.select {
    &-container {
        position: relative;
        width: fit-content;
    }

    &-popup {
        background-color: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, .1);
        border-radius: 5px;
        padding: 2px 5px;
        font-size: 12px;
        width: 100%;
        z-index: 99;
    }

    &-option {
        cursor: pointer;
    }
}