.chip {
    margin-bottom: 5px;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.price {
    margin-bottom: 10px;
}

.buttons {
    
}

.shortDescription {
    margin-bottom: 10px;
}

.quantity {
    margin-bottom: 10px;
    font-size: 0.9rem;
}