@import '@/styles/abstracts';

.typography {
    // &[href] {
    //     &:hover {
    //         text-decoration: underline;
    //     }
    // }

    &-primary {
        color: $primary;
    }
    &-secondary {
        color: $secondary;
    }
    &-success {
        color: $success;
    }
    &-warning {
        color: $warning;
    }
    &-danger {
        color: $danger;
    }
    &-muted {
        color: $muted;
    }

    @each $value in ('center', 'left', 'right', 'justify') {
        &-align-#{$value} {
            text-align: #{$value};
        }
    }
}
