@import '@/styles/abstracts';

.product {
    position: relative;

    .imageWrap {
        background-color: $light;
        overflow: hidden;
        position: relative;

        &:before {
            content: '';
            display: block;
            padding-top: 150%;
        }
    }

    .image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }

    .name {
        font-size: 1rem;
        font-weight: 500;
    }

    .price {
        font-weight: 500;
    }

    .chip {
        position: absolute;
        display: block;
        top: 5px;
        left: 5px;
        z-index: 3;
    }

    .bottom {
        background: $white;
        padding: 15px 12px;
        border-left: 1px solid $light;
        box-sizing: border-box;
        &:last-child {
            border-right: 1px solid $light;
        }
        // border-left: 1px solid $light;
    }
}
