@import '@/styles/abstracts';

.container {}

.list {
    display: none;
    margin-right: 10px;
}

.item {
    margin-bottom: 10px;
    cursor: pointer;
}

.selected {
    border: 1px solid $primary;
}

.rightPart {
    flex: 1;
}

.mainWrap {
    background-color: $light;
    overflow: hidden;
    position: relative;
    flex: 1;

    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
}

.mainImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

@include xl() {
    .list {
        display: block;
    }
    .main {
        img {
            object-position: left top;
        }
    }
}