@import '@/styles/abstracts';

.container, .container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    @include xs() {};
    @include sm() {
        max-width: 640px;
    };
    @include md() {
        max-width: 768px;
    };
    @include lg() {
        max-width: 1024px;
    };
    @include xl() {
        max-width: 1280px;
    };
    @include xxl() {
        max-width: 1536px;
    };
}