@import '@/styles/abstracts';

.header {
    background-color: $light;
}

.container {
    height: 60px;
}

.logo {}

.link {
    margin-right: 15px;
}

.loginButton {
    margin-right: 5px;
}

.loginBasket {}
